@import "bulma/css/bulma.min.css";

.title.is-1 {
  margin-top: 1.5rem;
  font-size: 6rem;
}
.strikethrough {
  text-decoration: line-through;
}
.disabled {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #7a7a7a;
}
